{% extends 'layout/manage.html' %}
{% load static %}



    {% block content %}
    <div class="panel panel-default">
   <div class="panel-heading">考勤管理</div>
  <div class="panel-body">
   <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal" >发布考勤</a>
      <table id="course_cord_table">

      </table>

  </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">新建考勤</h4>
      </div>
      <div class="modal-body">
            <form id="addform">
                {% csrf_token %}
            {% for filed in form %}
                {%  if filed.name == 'loaction' %}
                <div class="form-group">
                     <label for="{{ filed.id_for_label }}">{{ filed.label }}</label>
                       {% if filed.help_text %}
                        <span>{{ filed.help_text }}</span>
                        {% endif %}
                            <div class="row">
                                 <div class="col-sm-7">
                    {{ filed }}
                    <span class="error-msg">{{ filed.errors.0 }}</span>
                            </div>
                              <div class="col-sm-5">

                            <button class="btn btn-primary" value="" id="locationbutton">获取当前位置</button>
                              </div>
                            </div>

                        <span class="error-msg">{{ filed.errors.0 }}</span>
                    </div>
                {% else %}
                    <div class="form-group">
                         <label for="{{ filed.id_for_label }}">{{ filed.label }}</label>
                       {% if filed.help_text %}
                        <span>{{ filed.help_text }}</span>
                              {% endif %}
                {{ filed }}
                          <span class="error-msg">{{ filed.errors.0 }}</span>

                </div>
                {% endif %}
            {% endfor %}
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="addbtn">提交</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">学生考勤情况</h4>

              <div class="title">完成度:<div class="progress">
  <div class="progress-bar" role="progressbar" id="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
0%
  </div>
</div></div>
      </div>
      <div class="modal-body">

        <table class="table table-hover" >

      <thead>
        <tr>
          <th>学生姓名</th>
          <th>学号</th>
          <th>打卡时间</th>
            <th>是否签到</th>
            <th>未签到次数</th>
            <th>警告次数</th>
            <th>警告</th>


        </tr>
      </thead>
      <tbody id="studenttable">

      </tbody>
    </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block js %}
<script>
$.datetimepicker.setLocale('zh');
$('#id_end_datetime').datetimepicker({
    language: 'zh-CN', //语言
            autoclose: true, //选择后自动关闭
            format: "Y-m-d H:i",//日期格式
            todayBtn: 1,
                autoclose: 1,
                minView: 0,  //0表示可以选择小时、分钟   1只可以选择小时
                minuteStep: 1,//分钟间隔1分钟

})

$(function () {

bindlocationsbtn()
bindClickSubmit()

})

function bindlocationsbtn() {

    $('#locationbutton').click(function () {
        var url = 'https://apis.map.qq.com/ws/location/v1/ip?key='+' {{   request.tencentapi }}' +'&output=jsonp';
        $.ajax({
            url: url,
            method: 'GET',
            dataType: 'jsonp',
              headers: {
                        'Access-Control-Allow-Origin': '*',
                        'Access-Control-Allow-Methods': 'GET,POST',
                    },
            success: function (data) {
                var location = data.result.location;
                var lat = location.lat;
                var lng = location.lng;

                $("#id_loaction").val(`${lat},${lng}`);
                $('#id_loaction').prop('readonly', true);

            },
            error: function (error) {
                console.error('获取位置失败:', error);
            }
        });
    });
}
function bindClickSubmit() {
    $("#addbtn").click(function() {
        $('.error-msg').empty();
        $.ajax({
            url: "{% url 'web:teacher_coruse_record' %}",
            type: "POST",
            data: $('#addform').serialize(),
            dataType: "JSON",
            success: function(res) {
                if (res['status']) {
                    location.reload();
                } else {
                    $.each(res.error, function(key, value) {
                        $("#id_" + key).next().text(value[0]);
                    });
                }
            },

        });
    });
}




</script>
     <script>



    function binfupdate(){
       $("#updatebtn").click(function() {
        $('.error-msg').empty();
        $.ajax({
            url: "{% url 'web:teacher_course' %}",
            type: "POST",
            data: $('#updateform').serialize(),
            dataType: "JSON",
            success: function(res) {
                if (res['status']) {
                    location.reload();
                } else {
                    $.each(res.error, function(key, value) {
                        $("#id_" + key).next().text(value[0]);
                    });
                }
            },

        });
    });

}
    function handleDangerBtnClick() {
    var btn = $(this); // 缓存按钮对象
    var dataId = btn.data().idnumber;
    var courseid = btn.data().courseid;
    $.ajax({
        url: "{% url 'web:student_waring' %}",
        method: 'POST',
        dataType: "JSON",
        data: { id: dataId, courseid: courseid },
        success: function (res) {
            if (res.status) {
                btn.text('已警告').prop('disabled', true); // 修改按钮文本为“已警告”并禁用按钮
            }
        }
    });
}


            window.operateEvents = {
            // 当点击 class=delete 时触发
                  'click .search':function (e,value,row,index) {
                     var id=row.id;
                       $.ajax({
            url: "{% url 'web:course_cords_student' %}",
            type: "POST",
            data: {'type':'',id:id},
            dataType: "JSON",
            success: function(res) {
                var dangerBtnIds=[];
                if (res['status']) {
                    var tobody=$('#studenttable');
                    tobody.empty();
                    data=res.data;
                    $.each(data,function (key,value) {
                        var tr=$("<tr>");
                        tr.append($("<td>").text(value.name));
                        tr.append($("<td>").text(value.id));
                        tr.append($("<td>").text(value.create_date));
                        tr.append($("<td>").text(value.sign));

                        var student_not_cords=value.student_not_cords;
                           tr.append($("<td>").text(student_not_cords));
                           tr.append($("<td>").text(value.danger_counts));
                        if (student_not_cords>2){
                            if(value.ifdanger) {
                                tr.append($("<td>").append($("<button>").attr('class', 'btn btn-danger').attr('id', 'dangerbtn_'+value.id).attr('data-idnumber', value.id).attr('data-courseid', value.courseid).text('警告')));
                                dangerBtnIds.push('#dangerbtn_'+value.id)
                            }
                            else{
                                   tr.append($("<td>").text('已警告'))
                            }
                        }
                        else{
                              tr.append($("<td>").text('良好'))
                        }

                        tobody.append(tr);
                    })
                    var progerees=res.progerees;
                    $("#progressbar").css('width',progerees*100+'%')
                    $("#progressbar").text(progerees*100+'%')

                    dangerBtnIds.forEach(function(btnId) {
                     $(btnId).click(handleDangerBtnClick);
            });

                } else {
                  alert(res.data)
                }
            },

        });
                },
                    'click .delete': function (e,value,row,index) {
                var id=row.id;
                       $.ajax({
            url: "{% url 'web:deel_course_record' %}",
            type: "POST",
            data: {'type':'delete',id:id},
            dataType: "JSON",
            success: function(res) {
                if (res['status']) {
                    location.reload();
                } else {
                  alert(res.data)
                }
            },

        });
            },


                 'click #updateModal': function (e,value,row,index) {
                var id=row.id;
                 $.ajax({
            url: "{% url 'web:updateform' %}",
            type: "POST",
            data: {'title':'考勤更新',id:id,type:'updata'},
            dataType: "JSON",
            success: function(res) {
                if (res['status']) {
                    location.href=res.data;
                } else {
                  alert(res.data)
                }
            },

        });
            }
        };

        $('#course_cord_table').bootstrapTable({
            url: '{% url "web:course_record_data" %}',         //请求后台的 URL（*）
            method: 'get',                      //请求方式（*）
            // data: data,                      //当不使用上面的后台请求时，使用data来接收数据
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为 true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                    //是否启用排序
            sortOrder: "asc",                   //排序方式
            sidePagination: "client",           //分页方式：client 客户端分页，server 服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                        //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以个人感觉意义不大
            strictSearch: true,                 //启用严格搜索。禁用比较检查。
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 700,                        //行高，如果没有设置 height 属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                  //是否显示父子表
            showExport: true,                   //是否显示导出
            exportDataType: "basic",            //basic', 'all', 'selected'.
            columns: [{
                checkbox: true     //复选框标题，就是我们看到可以通过复选框选择整行。
            }, {
                field: 'id', title: '考勤ID'       //我们取json中id的值，并将表头title设置为ID
            },
                {
                field: 'teacher', title: '教师'         //我们取 json 中 username 的值，并将表头 title 设置为用户名
            },{
                field: 'sign_counts', title: '签到人数'                //我们取 json 中 sex 的值，并将表头 title 设置为性别
            },
                {
                field: 'counts', title: '班级人数'                //我们取 json 中 sex 的值，并将表头 title 设置为性别
            },
                {
                  field:'course'  ,title:'签到课程'
                },
                   {
                  field:'code'  ,title:'签到口令'
                },
                {
                    field:'loaction',title:'地理位置'
                },
                {
                field: 'distance', title: '签到距离'               //我们取 json 中 city 的值，并将表头 title 设置为城市
            },{
                field: 'create_datetime', title: '创建时间'               //我们取 json 中 sign 的值，并将表头 title 设置为签名
            },
            {
                field: 'end_datetime', title: '结束时间'               //我们取 json 中 sign 的值，并将表头 title 设置为签名
            }
            ,{
                //ormatter:function(value,row,index) 对后台传入数据 进行操作 对数据重新赋值 返回 return 到前台
                // events 触发事件
                field: 'Button',title:"操作",align: 'center',events:operateEvents,formatter:function(value,row,index){
                          var del= '<button type="button" class="btn btn-danger delete" style="margin: 5px">删除</button>'
                          var update= '<button type="button" class="btn btn-primary update" id="updateModal"  style="margin: 5px">更新</button>'
                    var search = '<button type="button" class="btn btn-info search" data-toggle="modal" data-target="#searchModal" style="margin: 5px">查看考勤情况</button>'

                    return [update,del,search].join('')
                }
            }
            ],
            responseHandler: function (res) {
                return res.data      //在加载远程数据之前，处理响应数据格式.
                // 我们取的值在data字段中，所以需要先进行处理，这样才能获取我们想要的结果
            }
        });

    </script>
{% endblock %}