{% extends 'layout/manage.html' %}
{% load static %}
{% load user %}
{% block content %}
    <div class="panel panel-default">
   <div class="panel-heading">选课面板</div>
  <div class="panel-body">
  <table id="course_table">
      </table>

  </div>
</div>



{% endblock %}

{% block js %}

    <script>

            window.operateEvents = {

            'click .select': function (e,value,row,index) {
                var id=row.id;
                       $.ajax({
            url: "{% url 'web:deel_course' %}",
            type: "POST",
            data: {'type':'join',id:id},
            dataType: "JSON",
            success: function(res) {
                if (res['status']) {
                    location.reload();
                } else {
                  alert(res.data)
                }
            },

        });
            },
            'click #delete_course': function (e,value,row,index) {
                var id=row.id;
                       $.ajax({
            url: "{% url 'web:deel_course' %}",
            type: "POST",
            data: {'type':'delete_course',id:id},
            dataType: "JSON",
            success: function(res) {
                if (res['status']) {
                    location.reload();
                } else {
                  alert(res.data)
                }
            },

        });
            },

        };

        $('#course_table').bootstrapTable({
            url: '{% url "web:course_data" %}',         //请求后台的 URL（*）
            method: 'get',                      //请求方式（*）
            // data: data,                      //当不使用上面的后台请求时，使用data来接收数据
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为 true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                    //是否启用排序
            sortOrder: "asc",                   //排序方式
            sidePagination: "client",           //分页方式：client 客户端分页，server 服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                        //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以个人感觉意义不大
            strictSearch: true,                 //启用严格搜索。禁用比较检查。
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 700,                        //行高，如果没有设置 height 属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                  //是否显示父子表
            showExport: true,                   //是否显示导出
            exportDataType: "basic",            //basic', 'all', 'selected'.
            columns: [{
                checkbox: true     //复选框标题，就是我们看到可以通过复选框选择整行。
            }, {
                field: 'id', title: 'ID'       //我们取json中id的值，并将表头title设置为ID
            },
                {
                field: 'name', title: '课程名称'         //我们取 json 中 username 的值，并将表头 title 设置为用户名
            },{
                field: 'teacher', title: '授课教师'                //我们取 json 中 sex 的值，并将表头 title 设置为性别
            },
                {
                  field:'counts'  ,title:'课程预设人数'
                },
                {
                    field:'join_counts',title:'参加人数'
                },
                {
                field: 'classroom', title: '上课教室'               //我们取 json 中 city 的值，并将表头 title 设置为城市
            },{
                field: 'create_datetime', title: '创建时间'               //我们取 json 中 sign 的值，并将表头 title 设置为签名
            },{
                //ormatter:function(value,row,index) 对后台传入数据 进行操作 对数据重新赋值 返回 return 到前台
                // events 触发事件
                field: 'Button',title:"操作",align: 'center',events:operateEvents,formatter:function(value,row,index){
                    if(row.select) {
                        var select = '<button type="button"  class="btn btn-primary" id="delete_course" style="margin: 5px">退课</button>'
                    }
                    else{
                        if(row.join_counts>=row.counts) {
                                  var select = '<div type="button"  class="btn btn-info" id="delete_course" style="margin: 5px" disabled>课程人数已满</div>'

                        }
                        else {
                            var select = '<button type="button"  class="btn btn-success select" style="margin: 5px">选课</button>'
                        }
                    }
                    return [select].join('')
                }
            }
            ],
            responseHandler: function (res) {
                return res.data      //在加载远程数据之前，处理响应数据格式.
                // 我们取的值在data字段中，所以需要先进行处理，这样才能获取我们想要的结果
            }
        });

    </script>
{% endblock %}

